/*site colors*/
:root {
  --primary-color:#123249;
  --secondary-color: #8fafbd;
}

/*hero section=> gradient parimary-secondary text-white, alignment-center padding*/
.hero-section {
  background: linear-gradient(145deg, var(--primary-color)90%, var(--secondary-color) 10%);
  color: white;
  text-align: center;
  padding: 100px 0px;
  
}
